@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

body {
	font: 18px 'PT Sans';
	background: #eceef1;
	padding: 8px;
}

h2 {
	color: #444;	
}

ol, ul {
	text-align: left;
}

.division-leader {
	padding: 10px;
	background: #444;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	border-radius: 3px;
	color: #fff;
}

.division-leader span {
	color: #fff;
}

.division-leader div {
	color: #999;
	font-size: 0.8em;
}

.expand-list .expand-area {
	display: block;
	height: 0px;
	overflow: scroll;
	font-size: 11pt;
	transition: all .3s;
}

.expand-title {
	cursor: pointer;
	padding: 10px;
}

.opened .expand-area {
	height: 150px;
}

.expand-list
  .expand-trigger:hover
    .expand-area
{
	height: 150px;
	padding: 5px;
	margin: 0 0 15px;
	border: 1px solid #aaa;
}

.reference {
	color: #b56410;
	text-decoration: none;
}

.reference:hover {
	text-decoration: underline;
}