@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font: 20px 'PT Sans', 'Courier New';
}

header {
	background: #53555d;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header img {
	height: 60px;
}

header h2.text {
	flex-grow: 2;
	text-align: center;
	color: #fff;
	font-size: 22pt;
	margin: 8px;
}

.wrap {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-grow: 1;
}

.columns div {
	flex-grow: 1;
	overflow: scroll;
}

.columns div iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

header, footer {
	padding: 10px;
}

footer {
	background: #51545a;
	color: #fff;
	padding-top: 10px;
	font-size: 10pt;
	display: flex;
	justify-content: space-between;
}

i {
	margin-right: 8px;
}

@media screen and (max-width: 800px) {
	.columns {
		grid-template-columns: 1fr;
		height: 150vh;
	}
}